@import "./partials/variables"; // siempre arrriba d todo
@import "./partials/reset"; //siempre abajo de variables y arriba del resto
@import "./partials/header";
@import "./partials/tarjetitas";
@import "./partials/animacion";
@import "./partials/footer";



//media quieris abajo siempre

@media screen and (max-width: 1400px) {
  // index 
  .navbar-nav{
    font-size: 1.8rem;
  }
  .recorramos{
    font-size: 5rem;

  }
  .boton{
    font-size: 2.5rem;
  }

  .titulo{
    font-size: 3rem;
  }
  .fin {
    font-size: 3rem;
  }
  .texto{
    font-size: 2rem;
  }
  
  footer{
    font-size: 2rem;
  }
  //nosotros
  .textoChica{
    h1{
      font-size: 4rem;
    }
    p{
      font-size: 2rem;
    }
  }
  .tituloCabaña{
    h2{
      font-size: 3.2rem;
    }
  }
  .textoParrafo {
    font-size: 2rem;
  }
  .texto__hotel{
    h1{
      font-size: 4rem;
    }
    p{
      font-size: 2.3rem;
    }
  }

  //contacto

  .contacto {
    
    font-size: 2rem;
    p{
      font-size: 2rem;
    }
    ::placeholder{
      font-size: 1.5rem;
    }
    button{
      font-size: 2rem;
    }
    h4{
      font-size: 2rem;
    }
  } 
  //tarjetitas

  .card-body{
    background-color: gray;
    h5{
      font-size: 3rem
      }
    p{
      font-size: 2.2rem
    }

  }

  .btn {
    font-size: 2rem;
  }
 
  //faq
  .titulo__faq{
    font-size: 4rem;
  }
  .faq {
    font-size: 2.6rem;
    h2 p{
    font-size: 2.9rem;
    }
  }
  .mapa_arriba {
    h1{
      font-size: 2rem;
      box-shadow: 10px 10px 5px rgb(0, 0, 0); 
      border: 1px solid black;
      background-color:rgb(43, 189, 91);
      border-radius: 15px ;
    }
    
  }
}
@media screen and (max-width: 1200px ) {
  // faq
  .titulo__faq{
    font-size: 3rem;
  }
  .faq {
    font-size:2rem;
    h2 p{
    font-size:2rem;
    }
  }
  .contacto {
    
    font-size: 2.2rem;
    p{
      font-size: 2rem;
    }
    ::placeholder{
      font-size: 2rem;
    }
    button{
      font-size: 2rem;
    }
    h4{
      font-size: 3rem;
    }   
  } 
  .formulario{
    padding: 20px;
  }
  .mapa_arriba{
    h1{
      font-size: 2.8rem;
    }

  }

  // nuestros viajes
  .btnTarjetita {
    padding: 10px;
    margin: 55px;
  }
} 

@media screen and (max-width: 992px ) {

  // index principañ

  .boton{
    font-size: 2rem;
  }

  .titulo{
    font-size: 2rem;
  }
 
  // tarjeta index misiones

  .fin{
    font-size: 2rem; 
   
  }
  .fin_pais p {
    font-size: 1.5rem;
  }
  
  // nosotros
 
  .tituloCabaña{
    h2{
      font-size: 2.8rem;
    }
  }
  .texto__hotel {
    h1{
      font-size: 3.2rem;
    }
    p{
      font-size: 2rem;
      
    }

  }
  // nuestros viajes
  .btnTarjetita {
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
    
  }
  .textoTarjeta{
    line-height: 40px;
    h5{
      line-height: 40px;
    }
  }
  .misiones{
    p{
      line-height: 27px;
    }
  }
 

  //nosotros
  .texto{
   h2 {
    font-size: 2.2rem;
    align-items: center;
   }
  }
  .textoParrafo {
    font-size: 1.5rem;
  }
  .textoCabañas {
    font-size: 1.9rem;
  }

  //contacto

  .contacto {
    font-size: 2rem;
    p{
      font-size: 2rem;
    }
    ::placeholder{
      font-size: 1.5rem;
    }
    button{
      font-size: 2rem;
    }
    h4{
      font-size: 2rem;
    }
  }

  .faq {
    font-size: 1.7rem;
    h2 p{
      font-size: 2rem;
    }
  }
}

@media screen  and ( max-width: 768px ) {
  // index
  .recorramos{
    font-size: 3.5rem;
  }

  .medio{
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1.2rem;
    }

  }
  .textoTarjeta{
    h5{
      font-size: 2rem;
    }
    p{
      font-size: 1.6rem;
    }
    a{font-size: 1.2rem;}
  }
  .btnTarjetita{
   padding: 37px;
   margin: 16px;
  }

  .tituloCabaña{
    h2{
      font-size: 1.8rem;
    }
  }

  footer{
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 576px ) {
  // nosotros
  .medio{
  h1{
    font-size: 2rem;
  }
  p{
    font-size: 1.5rem;
  }
  h2{
    font-size: 2.3rem;
  }
  }
  .btnTarjetita{
  padding: 50px;
  margin: 15px;
  }
  .textoJujuy{
    h5{
      line-height: 50px;
    }
    p{
      line-height: 50px;
    }
  }

  .misiones{
    h5{
      line-height: 40px;
     }
     p{
      line-height: 39px;
    }
  }

  .faq {
    font-size: 1.5rem;
    h2 p{
      font-size: 1.8rem;
    }

  }
  .tituloContacto{
    font-size: 2.5rem;
  } 
}
