@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
  
    font-family: 'Roboto', sans-serif;

}

.hero{
    width: 100%;
    height: 100vh;
 
    background-image: linear-gradient(
        0deg, 
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
    ) 
        ,url("../imagenes/cerrocolores.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
    background-attachment: scroll;
    
}
body{
    background-color: rgba(122, 117, 117, 0.562);
}
.navbar-brand{
    font-family: 'DynaPuff', cursive;
    
}

/** nuestros viejes **/

.container img{
    height: 100%;
}


.btn  {
    background-color: rgb(26, 114, 56);
    border: 0;
    text-align: center;
    background-position: center;
}



.btn{
    transition: all 1s;
}
.btn:hover{
  
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

footer{
    align-items: center;
}
/**** MEDIA QUERIES ****/

