.hero{
    width: 100%;
    height: 100vh;
 
    background-image: linear-gradient(
        0deg, 
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
    ) 
        ,url("../imagenes/cafayate.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
    background-attachment: scroll;
    
    .navbar-brand{
        font-family: 'DynaPuff', cursive;
        
    }

    body{
        background-color: rgba(42, 121, 117, 0.562);
    
    }    
    

   
}
.text-focus-in{
-webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) 2ms both;
animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) 2ms both;
animation-delay: 2s;

 @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}

}

